[submodule "examples/benchmarks"]
	path = examples/benchmarks
	url = https://github.com/ucb-bar/chia_benchmarks.git
[submodule "examples/riscv_extensions/prebuilt_stress"]
	path = examples/riscv_extensions/prebuilt_stress
	url = https://github.com/ucb-bar/chia-riscv-extensions-prebuilt.git
